body {
  margin: 0;
  font-family: Roboto;
  background: rgba(255, 124, 0, 0.10);
}

h1 {
  color: #004080;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

p {
  color: #004080;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button {
  color: #004080;
}
